/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FONTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@font-face {
    font-family: 'Ubuntu-Light';
    src: url('assets/Fonts/Ubuntu-Light.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu-LightItalic';
    src: url('assets/Fonts/Ubuntu-LightItalic.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('assets/Fonts/Ubuntu-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('assets/Fonts/Ubuntu-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu-Italic';
    src: url('assets/Fonts/Ubuntu-Italic.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('assets/Fonts/Ubuntu-Medium.ttf');
    font-display: swap;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.button-container {
    display: flex; /* Use flexbox for layout */
}

.navbar {
    width: 100%;
    height: 60px; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: transparent; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 10; 

.background-bar {
    width: 100%;
    height: 60px; 
    background-color: #f0f0f0; 
    position: absolute; 
    top: 0; 
    left: 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 5; 
}

.nav-button {
    margin-top: -2px;
    font-size: 1.1rem;
    padding: 19.5px 20px;
    margin: 0; 
    border: none;
    border-radius: 0; 
    background-color: #dcdcdc;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.dark {
    margin-left: auto;
    font-family: 'Ubuntu-Bold', sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #e0e0e0; 
    pointer-events: none; 
}

.home-button {
    font-family: 'Ubuntu-Medium', sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #f7f7f7; 
}

.home-button:hover {
    background-color: #e5e4e4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.light {
    margin-left: auto;
    font-family: 'Ubuntu-Light', sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #ffffff; 
    transition: background-color 0.3s, box-shadow 0.3s; 
}

.light:hover {
    background-color: rgb(236, 236, 236); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.about-button {
    margin-top: -2px; 
    margin-left: auto;
    font-family: 'Ubuntu-Light', sans-serif;
    color: #000;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: lighter;
    background-color: #ffffff; 
    transition: background-color 0.3s, box-shadow 0.3s; 
}

.about-button:hover {
    background-color: #e0e0e0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}